.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url('./Untitled\ design\ \(14\).png');
  background-size: cover;
  background-position: center;
 
}
.head{
  color: aliceblue;
}
.select-box {
  margin-bottom: 10px;
}

.textarea {
  height: 300px;

}

.submit-button {
  margin-top: 10px;
}
.select-box{
  text-align: center;
  

}
.outputbox {
  margin-top: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgb(89, 89, 89);
  font-family: 'Roboto', sans-serif;
}
.btn{
  border: 0;
  background-color: white;
  border-radius: 5px;
  padding: 5px 4px;
}